@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.main_container {
  /* display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  justify-content: space-around;
  align-content: center;
  grid-gap: 10px;
  padding: 10px; */

  display: flex;
  flex-wrap: wrap;
  padding: 80px;
}
.loginSection {
  display: flex;
  width: 90%;
  margin-bottom: 50px;
}
.registerSection {
  display: flex;
  width: 900%;
}

.main_container > div {
  text-align: center;
  align-self: center;
}
.col-five {
  grid-column: 1/3;
}
.firstInput {
  margin-bottom: 30px;
  margin-top: 30px;
}
.loginText {
  font-size: 30px;
  font-family: "Ibarra Real Nova", serif;
  color: #0020e5;
}

.submitButton {
  margin-top: 30px;
}
.LoginText {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: "Ibarra Real Nova", serif;
}
.lastInput {
  margin-top: 30px;
}
.loginTextDiv {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  align-items: "center";
  justify-content: "center";
  text-align: center;
}

.registerTextDiv {
  border: 1px solid grey;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.loginInput {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 55px;
  margin: 20px;
}
.registerInput {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 45px;
  margin: 30px;
}
