@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap");

body {
  background: #0020e5;
}

.Wellcome h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 5.5rem;
  color: white;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-2 {
}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.buttonText {
  border-radius: 2rem;
  width: 15rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 0 auto;
  color: #0020e5;
  padding-bottom: 1rem;
}
.startButton .buttonText h3 {
  margin-left: 10px;
  font-size: 2.5rem;
}

/* .buttonIcon {
  font-size: 3.5rem;
  margin: 0 auto;
  color: #0020e5;
}
.getStarted {
  font-size: 1.5rem;
  margin: 0 auto;
  color: #0020e5;
} */
